beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.2.0
gensim==4.3.1
idna==3.4
lxml==4.9.3
numpy==1.25.1
requests==2.31.0
scipy==1.11.1
smart-open==6.3.0
soupsieve==2.4.1
typing==3.7.4.3
urllib3==2.0.3
